@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Work+Sans:wght@400;500&display=swap');

$primary-color: #213F7D;

header {
  display: flex;
  justify-content: space-between;
  padding-block-start: min(1rem, 2vh);
  padding-block-end: min(1rem, 2vh);
  box-shadow: 3px 0px 20px 0px #0000000A;
    .flex {
      display: flex;
      align-items: center;
    }

    .logo {
      margin-inline-start: 1.8rem;
      height: 2.5rem;
      width: 10.86rem;
    }

    .grid {
      display: grid;
    }

    input {
      margin-inline-start: 10.5rem;
      font-family: 'Work Sans', sans-serif;
      font-weight: 400;
      width: calc(20rem + 5.25vw);
      padding: 0.7rem 0.5rem;
      border: 1px solid #545F7D26;
      border-top-left-radius: 8px;
      border-bottom-left-radius: 8px;
      grid-row: 1/3;
    }

    input::placeholder {
      color: #545F7D;
      font-size: 14px;
      font-weight: 400;
    }

    span {
      width: 3.5rem;
      background-color: #39CDCC;
      color: #fff;
      padding: 0.5rem;
      border-top-right-radius: 8px;
      border-bottom-right-radius: 8px;
      height: 1.5rem;
      grid-row: 1/3;
    }

    .search-icon {
      padding-left: 1rem;
    }

    h4 {
      font-family: 'Roboto', sans-serif;
      font-size: 1rem;
      margin-inline-end: 3rem;
      font-weight: 400;
      text-decoration: underline;
      color: $primary-color;
    }

    .bell {
      color: $primary-color;
      margin-inline-end: 2rem;
    }

    .avatar {
      margin-inline-end: 0.6rem;
    }

    p {
      font-weight: 500;
      color: $primary-color;
      margin-inline-end: 0.6rem;
      font-family: 'Work Sans', sans-serif;
    }

    .dropdown {
      margin-inline-end: 2.6rem;
    }
}