$primary-color: #213F7D;
$secondary-color: #545F7D;
$secondary-font-size: 0.75rem;
$secondary-font-weight: 500;
$font-weight: 400;
$font-size: 1rem;

.side-bar {
  width: calc(3.5em * 5);
  background-color: #fff;
  box-shadow: 3px 0px 20px 0px #0000000A;

    .flex {
      display: flex;
      align-items: center;
    }

    .p-top {
      padding-block-start: 1.7rem;
    }

    .dropdown-img {
      margin-inline-start: 0.6rem;
    }

    .img {
      margin-inline-start: 1.8rem;
    }

    .m-top {
      margin-block-start: 1.8rem;
    }

    h4 {
      margin: 0;
      margin-inline-start: 0.6rem;
      color:  $primary-color;
      font-size: $font-size;
      font-weight: $font-weight;
    }

    h3 {
      color: $secondary-color;
      font-size: $secondary-font-size;
      font-weight: $secondary-font-weight;
      text-transform: uppercase;
      text-align: start;
      margin-inline-start: 1.8rem;
      margin-block-start: 2rem;
    }
}